<!doctype html>
<head>
<title>Attribute Provider Interface</title>
<link href="./includes/stylesheets/style.css" type="text/css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">
</script>
</head>

<body>
<div class="main">
	<nav>
		<ul>
			<li><a href="./index.php">Home</a></li>
			<li><a href="./new.php?class=identity">Add Identity</a></li>
			<li><a href="./new.php?class=attribute">Add Attribute</a></li>
			<li><a href="./manage.php?class=identity">Manage Identities</a></li>
			<li><a href="./manage.php?class=attribute">Manage Attributes</a></li>
		</ul>
	</nav>
	<div class="text-content">